.recipe-card {
    position: relative;
    cursor: pointer;
}

.img-container {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
}

.img-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.save-icon {
    position: absolute;
    font-size: 36px;
    color: white;
    right: 2%;
    top: 3%;
    transition: all 0.3s ease;
}

.chef-name {
    font-size: 14px;
}

.chef-name span {
    color: var(--brown);
}

.save-icon:hover {
    color: var(--lightGreen-color);
}

.recipe-card .time-cooking {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recipe-card .recipe-title {
    font-weight: 600;
    font-size: 20px;
    width: 90%;
    line-height: 1.3;
}

.rating-container {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 10px;
}

.rating-container .num-rating {
    display: flex;
    width: max-content;
    align-items: center;
    font-size: 15px;
    padding-top: 4px;;
}



@media (min-width: 1480px) and (max-width: 1650px) {
    
}