:root {
    --lightGreen-color: #407948;
    --lightGrey-color: rgb(172, 172, 172);
    --shadowGrey-color: #444444;
    --brown: #C57D5D;
    --darkGreen-color: #2E5834;
    --white: white;
    --light-black: #1D1D1D;
}